{% extends 'baseAdmin.html.twig' %}

{% block title %}Profiles{% endblock %}

{% block body %}

<main class="my-2">

    <h4 class="text-center py-3">Les profiles</h4>

    <table class="table">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Titre</td>
                <td>Pitch</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for vProfile in profiles %}
            <tr>
                <td>{{vProfile.lastName}}</td>
                <td>{{vProfile.firstName}}</td>
                <td>{{vProfile.title}}</td>
                <td>{{vProfile.shortPitch}}</td>
                <td>
                    <a href="{{ path('profile-admin-update',{'id':vProfile.id}) }}" class="btn btn-info"><i class="bi bi-recycle fs-4"></i></a>
                    <a href="{{ path('profile-admin-delete',{'id':vProfile.id}) }}" onclick="return('Tu veux supprimer ça ???')" class="btn btn-danger"><i class="bi bi-trash fs-4"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('profile-admin-create') }}" class="btn btn-primary">Ajouter un profil</a>
    </div>
</main>

{% endblock %}