{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block description %}Portfolio de Florian{% endblock %}

{% block body %}

<main>

    {% include "_partials/br.html.twig" %}

    {# Production #}
    <section id="project" class="py-3">
        <h3 class="text-center"><span class="badge bg-color-green">Mes productions</span></h3>

        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                {% for cat in projectsCats %}
                {% for proj in cat.projects %}
                <div class="col mt-2">
                    <div class="card text-dark bg-color-green">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col text-center">
                                        <h4 class="card-title"><span class="badge bg-color-yellow">{{proj.name}}</span></h4>
                                        <p class="card-text">{{proj.shortText}}</p>
                                    </div>
                                    <div class="col text-center">
                                        <a class="text-color-yellow " href="{{proj.link}}">{{proj.icon|raw}}</a>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col text-center border-start border-end border-warning rounded">
                                        <p>{{ proj.description|u.truncate(50,'...') }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    {% for skill in proj.skill %}
                                        <div class="col-1">
                                            <img id="imgSkill" src="{{asset('img/skill/'~skill.image)}}" alt="Logo de {{skill.name}}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "_partials/br.html.twig" %}

    {# Compétence #}
    <section id="skills" class="py-3">
        <h3 class="text-center"><span class="badge bg-color-green">Mes compétences</span></h3>

        <div class="container py-5">
            <div class="row row-cols-1 row-cols-lg-3 justify-content-between">
                {% for category in skillsCategories %}
                <div class="col pt-1">
                        <div class="text-center">
                            <h5 class="text-start ps-2 fw-bold">{{category.name}}</h5>
                        </div>

                        <hr class="border border-dark border-2 opacity-75">

                        <div class="text-center">
                            <table class="table">
                                {% for skill in category.skills %}
                                <tr class="text-light">
                                    <td class="text-start"><img id="imgSkill" src="{{asset('img/skill/'~skill.image)}}"
                                            alt="Logo de {{skill.name}}"> -
                                        {{skill.name}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

    {% include "_partials/br.html.twig" %}

    {# Contact #}
    <section id="contact" class="py-3">
        <h3 class="text-center"><span class="badge bg-color-green">Me contacter</span></h3>

        {{ form_start(formContact) }}
        <div class="container border border-2 border-light rounded p-2">

            <div class="row">
                <div class="col-4 offset-2">
                    {{ form_row(formContact.fullName) }}
                </div>
                <div class="col-4">
                    {{ form_row(formContact.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    {{ form_row(formContact.subject) }}
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    {{ form_row(formContact.message) }}
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2 my-3 text-end">
                    <button type="reset" class="btn btn-outline-danger me-3">Annuler</button>
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </div>

        </div>
        {{ form_end(formContact) }}

    </section>

    {% include "_partials/br.html.twig" %}

</main>

{% endblock %}