{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block description %}Portfolio de { dev_contact_name }{% endblock %}

{% block body %}

<main class="text-light">

    <hr class="border border-dark border-3">

    {# Production #}
    <section id="project" class="bg-dark bg-opacity-50 py-3">
        <h3 class="text-center">Mes productions</h3>

        <div class="container">
            <div class="row">
                {% for cat in projectsCats %}
                    {% for proj in cat.projects %}
                        <div class="col-4 offset-1">
                            <div class="card text-dark card-black">
                                <div class="card-body">
                                    <h4 class="card-title">{{proj.name}}</h4>
                                    <p class="card-text">{{proj.description}}</p>
                                </div>
                                <div class="card-footer">
                                    <p>{{cat.name}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    <hr class="border border-dark border-3">

    {# Compétence #}
    <section id="skills" class="bg-dark bg-opacity-75 py-3">
        <h3 class="text-center py-2">Mes compétences</h3>
        <div class="container-fluid py-5">
            <div class="row">
                {% for category in skillsCategories %}
                <div class="col">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="text-center">
                                    <h5 class="text-start ps-2">{{category.name}}</h5>
                                </div>

                                <hr class="border border-dark border-2 opacity-75">

                                <div class="text-center">
                                    <table class="table">
                                        {% for skill in category.skills %}
                                        <tr class="text-light">
                                            <td class="text-start"><img id="imgSkill"
                                                    src="{{asset('img/skill/'~skill.image)}}" alt="Logo de {{skill.name}}"> -
                                                {{skill.name}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <hr class="border border-dark border-3">

    {# Contact #}
    <section id="contact" class="bg-dark bg-opacity-50 py-3">
        <h3 class="text-center">Me contacter</h3>

        {{ form_start(formContact) }}
        <div class="container border border-2 border-light rounded p-2">

            <div class="row">
                <div class="col-4 offset-2">
                    {{ form_row(formContact.fullName) }}
                </div>
                <div class="col-4">
                    {{ form_row(formContact.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    {{ form_row(formContact.subject) }}
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    {{ form_row(formContact.message) }}
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2 my-3 text-end">
                    <button type="reset" class="btn btn-outline-danger me-3">Annuler</button>
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </div>

        </div>
        {{ form_end(formContact) }}

    </section>

    <hr class="border border-dark border-3">

</main>

{% endblock %}