{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block description %}Portfolio de Florian{% endblock %}

{% block body %}

<main>

    {% include "_partials/br.html.twig" %}

    {# Production #}
    <div id="project" class="anchor"></div>
    <section class="container py-3">
        <div class="row justify-content center">
            <h3 class="text-center"><span class="badge bg-color-green">Mes productions</span></h3>
        </div>

        <div class="row row-cols-1 row-cols-lg-2">
            {% for cat in projectsCats %}
                {% for proj in cat.projects %}
                    {% if proj.displayOnIndex %}
                    <div class="col mt-2">
                        <div class="card text-dark bg-light">
                            <div class="card-body bg-color-{{cat.slug =='web-app' ? 'yellow' : cat.slug =='videogames' ? 'orange' : 'red'  }}">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col text-center">
                                            <h4 class="card-title"><span class="badge bg-secondary">{{proj.name}}</span></h4>
                                            <p class="card-text">{{proj.shortText}}</p>
                                        </div>
                                        <div class="col text-center border-start border-dark">
                                            <a class="text-light text-center" href="{{proj.link}}">{{proj.icon|raw}}</a>
                                            <p>Clic au-dessus pour essayer</p>
                                        </div>
                                    </div>
                                    <div class="row pt-1">
                                        <div class="col border-dark text-center border-start border-end border-warning rounded py-1">
                                            <a href="{{path('project-detail',{'slug':proj.slug})}}" class="btn btn-secondary fw-bold fst-italic">En savoir plus</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    </section>

    {% include "_partials/br.html.twig" %}

    
    {# Compétence #}
    <div id="skills" class="anchor"></div>
    <section class="container py-3">
        <div class="row justify-content center">
            <h3 class="text-center"><span class="badge bg-color-green">Mes compétences</span></h3>
        </div>


        <div class="row row-cols-1 row-cols-lg-3 justify-content-between">
            {% for category in skillsCategories %}
            <div class="col pt-1">
                <div class="text-center">
                    <h5 class="text-start ps-2 fw-bold">{{category.name}}</h5>
                </div>

                <hr class="border border-dark border-2 opacity-75">

                <div class="text-center">
                    <table class="table">
                        {% for skill in category.skills %}
                        <tr class="text-light">
                            <td class="text-start"><img id="imgSkill" src="{{asset('img/skill/'~skill.image)}}"
                                    alt="Logo de {{skill.name}}"> -
                                {{skill.name}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

    {% include "_partials/br.html.twig" %}

    
    {# Contact #}
    <div id="contact" class="anchor"></div>
    <section class="container py-3">

        <div class="row justify-content-center">
            <div class="col-2 text-center">
                <button type="button" class="btn bg-color-green fs-5 fw-bold text-light" data-bs-toggle="modal"
                    data-bs-target="#contactModal">Me contacter</button>
            </div>
        </div>

        {% include "home/modalContact.html.twig" %}

    </section>

    {% include "_partials/br.html.twig" %}

</main>

{% endblock %}