{% extends 'baseAdmin.html.twig' %}

{% block title %}Skill - Update{% endblock %}

{% block body %}

<main class="container my-2">

    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="text-center text-capitalize">édition d'une compétence</h3>
        </div>
    </div>

    {% include "_partials/brSmall.html.twig" %}

    <div class="row justify-content-center">
        <div class="col-5">
            {{form_start(form)}}
            <div class="modal-body text-black">
                {{form_row(form.name,{'label':'Désignation :' })}}
                {{form_row(form.seniority,{'label':'Ancienneté :' })}}
                {{form_row(form.category,{'label':'Catégorie :' })}}
                {{form_row(form.image,{'label':'Image :','help':'Facultatif - Image format jpg, jpeg, webp ou png - 1 Mo maximum', 'help_attr':{'class':'fst-italic'} })}}
                {{form_row(form.submit, {'label':'Modifier'})}}
            </div>
            {{form_end(form)}}
        </div>
        <div class="col-4 border-start border-4 d-flex align-items-center">
            <img src="{{asset('img/skill/'~skill.image)}}" alt="Logo de {{skill.name}}" class="px-5 img-fluid">
        </div>
    </div>


    {% include "_partials/brSmall.html.twig" %}

    <div class="row justify-content-end">
        <div class="col-1">
            <a href="{{ path('skill-admin') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>
    
</main>

{% endblock %}