{% extends 'baseAdmin.html.twig' %}

{% block title %}ProjectCat - Update{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-5">
            {{form_start(form)}}
			<div class="modal-body text-black">
				{{form_row(form.name,{'label':'Désignation:' })}}
				{{form_row(form.submit, {'label':'Modifier'})}}
			</div>
			{{form_end(form)}}
        </div>
    </div>
    <div class="row">
        <div class="col-8">
<a href="{{ path('project-category-admin') }}" class="btn btn-secondary">Retour</a>
        </div>
    </div>
</div>

{% endblock %}