{% extends 'base.html.twig' %}

{% block title %}Detail project {{project.name}}{% endblock %}

{% block body %}
<main class="container">

    <div class="row justify-content-center">
        <h3 class="col-12 text-center text-color-orange">Fiche projet détaillée</h3>
    </div>

    {% include "_partials/brSmall.html.twig" %}

    <div class="row justify-content-center">
        <h3 class="col-12 text-center fs-2"><span class="badge bg-light p-2 text-color-blue">{{ project.name }}</span></h3>
        <p class="col-12 text-center fst-italic fs-4"><span class="badge bg-light p-2 text-color-blue">{{ project.shortText }}</span></p>
    </div>

    {% include "_partials/brSmall.html.twig" %}

    <div class="row row-cols-1 row-cols-lg-3 justify-content-center">
        <div class="col border-start border-end rounded border-light bg-color-green me-1 p-3">
            <h4>Type de projet : {{ project.category.name }}</h4>
            <h4>Environment principal : {{ project.environment }}</h4>
            <div class="container-fluid">
                <div class="row justify-content-evenly">
                    {% for skill in project.skill %}
                    <div class="col-1">
                        <img id="imgSkill" src="{{asset('img/skill/'~skill.image)}}"
                            alt="Logo de {{skill.name}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col d-block d-lg-none my-2"></div>
        <div class="col border-start border-end rounded border-light bg-color-green p-3">
            <h5>{{project.shortText}}</h5>
            <p class="text-justify">{{project.description}}</p>
        </div>
    </div>

    {% include "_partials/brSmall.html.twig" %}

    <div class="row justify-content-center">
        <div class="col text-center border-start border-dark">
            <a class="text-light text-center" href="{{project.link}}">{{project.icon|raw}}</a>
            <p><span class="badge fs-4 bg-color-{{project.category.slug =='web-app' ? 'yellow' : cat.slug =='videogames' ? 'orange' : 'red'  }}">Cliquez pour découvrir</span></p>
        </div>
    </div>

    {% include "_partials/brSmall.html.twig" %}

    <div class="row justify-content-center">
        <div class="col-2">
            <a href="{{path('index')}}#project" class="btn btn-light fw-bold">Retour</a>
        </div>
    </div>

</main>
{% endblock %}