

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 text-black" id="addModalLabel">Création d'un projet</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			{{form_start(form)}}
			<div class="modal-body text-black">
				{{form_row(form.name,{'label':'Désignation :' })}}
				{{form_row(form.displayOnIndex, {'label':'Afficher sur accueil'})}}
				{{form_row(form.category, {'label':'Catégorie :'})}}
				{{form_row(form.started_at, {'label':'Débuté le :'})}}
				{{form_row(form.environment, {'label':'Environnement :'})}}
				{{form_row(form.shortText, {'label':'Description courte :'})}}
				{{form_row(form.description, {'label':'Description longue :'})}}
				{{form_row(form.link, {'label':'Lien vers :'})}}
				{{form_row(form.icon, {'label':'Icone :'})}}
				{{form_row(form.skill, {'label':'Compétences liées :'})}}
				{{form_row(form.submit, {'label':'Ajouter'})}}
			</div>
			{{form_end(form)}}

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
			</div>

		</div>
	</div>
</div>
